# python==3.11

numpy==1.24.3
pandas
matplotlib
scikit-learn
black
torch
torchvision
torchaudio
tqdm
torchinfo
nltk==3.8.1
gensim==4.3.3
lxml
gdown
einops
transformers
sentencepiece
sacremoses
openpyxl
sentence-transformers
openai 
langchain 
tiktoken 
langchain_community 
langchain-openai
langchain_experimental
chromadb
faiss-cpu
rank_bm25