# For Data_Science, Artificial_Intelligence 

jupyter
numpy
matplotlib
seaborn
pandas

scikit-learn
plotly
mlxtend
umap-learn

tensorflow
torch>=2.0.0
torchvision>=0.15.0

requests

beautifulsoup4
selenium
webdriver-manager

opencv-python